[mysqld]
datadir=/var/lib/mysql
log-error=/app/mysql/log/mysqld.log
skip-external-locking
skip-name-resolve
skip-host-cache
skip-slave-start
binlog_cache_size = 128K
binlog_stmt_cache_size = 64K
join_buffer_size = 256K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
key_buffer_size = 16M
max_allowed_packet = 1M
max_connections = 25
open_files_limit = 50
table_open_cache = 128
sort_buffer_size = 1M
query_cache_size = 4M
query_cache_limit = 64K
thread_cache_size = 8
thread_stack = 256K
net_buffer_length = 16K
tmp_table_size = 32M
max_heap_table_size = 16M
myisam_sort_buffer_size = 8M
user = root
