[mysqld]
datadir = /var/lib/mysql
pid_file = /app/mysql/mysqld.pid
log_error = /app/mysql/log/mysqld.log
default_storage_engine = InnoDB
skip-name-resolve
skip-external-locking
skip-slave-start
character_set_server = utf8
max_connections = 100
host_cache_size = 0
join_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
key_buffer_size = 32M
max_allowed_packet = 8M
open_files_limit = 1024
table_open_cache = 256
sort_buffer_size = 8M
query_cache_size = 8M
query_cache_limit = 2M
thread_cache_size = 16
thread_stack = 256K
net_buffer_length = 16K
tmp_table_size = 16M
max_heap_table_size = 32M
user = root
